body {
    /* width: 100%; */
    font-family: "Lobster", cursive; ;
}

.logo-container{
    width: 8%;
    background-color: black;
    display: flex;
    position: absolute;
    justify-content: center;
}

.logo {
    width: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.list-container {
    display: flex;
    list-style-type: none;
}




